# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env.*  # dotenv ve python-decouple için

# VS Code
.vscode/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
static/

# macOS & Windows junk
.DS_Store
Thumbs.db

